.input {
    grid-area: input;
    background-color: rgb(242, 242, 242);
    border-top: 1px solid rgb(233, 233, 233);

    display: flex;
    flex-direction: column;
}

.input textarea {
    font-family: "Inter", sans-serif;
    background-color: rgb(242, 242, 242);

    flex: 1;
    padding: 10px;
    font-size: 14px;
    resize: none;

    border: none;
    outline: none;
    overflow: auto;

    padding: 5px 23px 0 23px;
}

.input__toolbar {
    display: flex;
    gap: 17px;
    justify-content: flex-start;
    align-items: flex-start;
    padding: 11px 23px 0 23px;
}
.input__toolbar > svg {
    width: 24px;
    height: 24px;
    stroke-width: 1.4;
}

.input__toolbar > svg:last-child {
    margin-left: auto;
}

.input__toolbar > svg:hover {
    stroke: #0099ff;
}

.input__submit {
    display: flex;
    justify-content: flex-end;
    margin-bottom: 16px;
    padding-right: 20px;
}

.input__submit-button-container {
    border-radius: 4px;
    background-color: #0099ff;
    color: #ffffff;
    width: 96px;
    height: 26px;
    display: flex;
    font-size: 13px;
    font-weight: 400;
    align-items: center;
    padding: 2px 4px 2px 4px;
}

.input__submit-button-container > div:nth-child(1) {
    line-height: 22px;
    text-align: center;
    width: 64px;
}
.input__submit-button-container > div:nth-child(2) {
    line-height: 22px;

    font-weight: 100;
    text-align: center;
    flex: 1;
}

.input__submit-button-container > div:nth-child(3) {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 30px;
}

.input__submit-button-container svg {
    width: 14px;
    height: 14px;
}
