@use "common";

@mixin chat-option-container($_background-color: #ffffff) {
    background-color: $_background-color;
    height: 72px;
    flex-shrink: 0;
    display: grid;
    grid-template-columns: 42px 1fr;
    grid-template-rows: repeat(2, 18px);

    place-content: center center;
    place-items: center center;
    padding-left: 17px;
    padding-right: 17px;

    column-gap: 7px;
}

.chat-option {
    grid-area: chat_option;

    background-color: #ffffff;

    overflow-y: auto;
    overflow-x: hidden;

    display: flex;
    flex-direction: column;

    .chat-option__container--normal {
        @include chat-option-container;
    }

    .chat-option__container--active {
        @include chat-option-container($_background-color: common.$subject-color);
        div,
        p {
            color: #ffffff;
        }
    }

    img {
        border-radius: 50%;
        width: 40px;
        height: 40px;
        grid-row: 1/-1;
        grid-column: 1/2;
    }

    .chat-option__name-time-container {
        grid-row: 1/2;
        grid-column: 2/3;

        color: black;
        align-self: end;
        justify-self: start;

        width: 100%;

        padding-bottom: 2px;
        display: flex;
        justify-content: space-between;
        align-items: start;

        .chat-option__name {
            font-size: 14px;
            font-weight: 400;
        }

        .chat-option__time {
            font-size: 10px;
            font-weight: 400;
            color: #999999;
        }
    }

    .chat-option__message {
        font-size: 12px;
        grid-row: 2/3;
        grid-column: 2/3;
        color: #999999;

        font-weight: 400;
        align-self: start;
        justify-self: start;
        padding-top: 3px;

        width: 185px;
        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis;
    }
}

/* 自定义滚动条代码 */
/* 
  ::-webkit-scrollbar 整个滚动条
  ::-webkit-scrollbar-track 滚动条的滚动区域（轨道）
  ::-webkit-scrollbar-thumb 滚动条的可拖拽部分（滑块）  
*/

.chat-option::-webkit-scrollbar {
    display: none;

    width: 6px;
}

/* TODO: Use javascript for this, cause hover not working on scrollbar */
// html:hover .chat-option::-webkit-scrollbar {
//     display: block;
// }

.chat-option::-webkit-scrollbar-track {
    /* transparent is alias for rgba(*, *, *, 0) */
    background-color: transparent;
}

.chat-option::-webkit-scrollbar-thumb {
    display: block;

    border-radius: 4px;
    background-color: #dbdbdb;
}
