// login.scss

@use "common";

$page-background-color: #eceef0;
$login-container-background-color: #ffffff;

@mixin form-element($_background-color: #f2f2f2) {
    width: 324px;
    height: 40px;
    border-radius: 50px;
    outline: none;
    border: none;
    font-size: 16px;
    font-weight: 400;
    background-color: $_background-color;

    margin-bottom: 24px;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: common.$font-stack;
    color: common.$primary-font-color;
    height: 100vh;
    background-color: $page-background-color;
    display: flex;
    align-items: center;
    justify-content: center;
}

.login {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    height: 100vh;

    width: 912px;
    height: 520px;
    background-color: $login-container-background-color;
    border-radius: 24px;
    box-shadow: none;

    position: relative;
    .login__logo {
        display: flex;
        justify-content: flex-start;
        align-items: center;
        height: 35px;

        position: absolute;
        top: 30px;
        left: 32px;

        font-weight: 600;

        svg {
            width: 24px;
            height: 24px;
            fill: rgb(120, 208, 222);
            margin-right: 10px;
        }
    }

    .login__input {
        display: flex;
        justify-content: flex-start;
        align-items: center;
        flex-direction: column;
        width: 441px;
        padding: 16px;

        h6 {
            text-align: center;
            height: 32px;
            line-height: 32px;
            font-weight: 700;
            font-size: 20px;
            margin-bottom: 32px;
        }

        input {
            @include form-element($_background-color: #f2f2f2);
            padding: 16px;
        }

        input:focus {
            border: 1px solid black;
        }

        button {
            @include form-element($_background-color: rgb(39, 39, 39));
            color: #ffffff;

            text-align: center;
            line-height: 40px;
        }

        button:hover {
            background-color: rgb(79, 79, 79);
        }
    }
}
