// login.scss

@use "common";

@font-face {
    font-family: "Ambit";
    src: url("../font/ambit/Ambit\ Regular.otf") format("opentype");
    font-weight: normal;
    font-style: normal;
}

$page-background-color: rgb(242, 242, 242);
$login-container-background-color: #ffffff;

@mixin form-element($_background-color: #f2f2f2) {
    width: 324px;
    height: 40px;
    line-height: 23px;
    border-radius: 50px;
    outline: none;
    border: none;
    font-size: 16px;
    font-weight: normal;
    background-color: $_background-color;

    margin-bottom: 24px;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: common.$font-stack;
    color: common.$primary-font-color;
    height: 100vh;
    background-color: $page-background-color;
    display: flex;
    align-items: center;
    justify-content: center;
}

.login {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    height: 100vh;

    width: 912px;
    height: 520px;
    background-color: $login-container-background-color;
    border-radius: 24px;
    box-shadow: none;

    position: relative;
    box-shadow:
        0px 12px 32px 4px rgba(0, 0, 0, 0.04),
        0px 8px 20px rgba(0, 0, 0, 0.08);
    .login__logo {
        display: flex;
        justify-content: flex-start;
        align-items: center;
        height: 35px;

        position: absolute;
        top: 30px;
        left: 32px;

        font-weight: 600;

        svg {
            width: 24px;
            height: 24px;
            fill: rgb(120, 208, 222);
            margin-right: 10px;
        }
    }

    .login__input {
        align-self: flex-start;
        display: flex;
        justify-content: flex-start;
        align-items: center;
        flex-direction: column;
        width: 441px;
        padding: 135px 16px 16px 16px;

        h6 {
            text-align: center;
            height: 32px;
            line-height: 32px;
            font-weight: 700;
            font-size: 20px;
            margin-bottom: 32px;
        }

        input {
            @include form-element($_background-color: rgb(246, 246, 246));
            font-family: "Ambit", common.$font-stack;
            padding: 4px 0 0 18px;
        }

        input:focus {
            box-shadow: 0 0 0 1px #409eff inset;
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
        }

        button {
            @include form-element($_background-color: rgb(39, 39, 39));
            color: #ffffff;

            letter-spacing: 0.1em;
            text-align: center;
            margin-bottom: 40px;
        }

        button:hover {
            background-color: rgb(79, 79, 79);
        }

        hr {
            width: 324px;
            height: 1px;
            background-color: rgba(0, 0, 0, 0.12);
            border: none;
        }

        .login__other {
            padding: 16px 0;
            display: flex;
            justify-content: space-between;
            align-items: center;
            width: 324px;

            a {
                font-family: "Ambit", common.$font-stack;
                font-weight: normal;
                font-size: 14px;
                color: rgb(39, 39, 39);
                text-decoration: none;
            }

            a:hover {
                text-decoration: underline;
            }
        }
    }
    .login__img {
        flex: 1;
        height: calc(100% - 30px);
        margin-right: 15px;
        background-image: url(../img/logo.png);
        background-position: center;
        background-size: cover;
        border-radius: 24px;
    }
}
