// search.scss

@use "common";

// ANCHOR 变量

// ANCHOR 样式
.search {
    grid-area: search;
    display: flex;
    gap: 8px;
    justify-content: center;
    align-items: flex-end;
    padding-bottom: 10px;

    .search__input-container {
        border-radius: 4px;
        background-color: rgb(245, 245, 245);
        width: 208px;
        height: 30px;
        display: flex;
        align-items: center;
        justify-content: flex-start;
        padding-left: 10px;

        svg {
            width: 20px;
            height: 20px;

            stroke: rgb(180, 180, 180);
        }

        .search__input {
            padding-left: 6px;
            flex: 1;
            border: none;
            outline: none;
            background-color: rgb(245, 245, 245);
        }

        .search__input::placeholder {
            color: rgb(153, 153, 153);
        }
    }

    .search__add-button {
        border: none;
        border-radius: 4px;
        background-color: rgb(245, 245, 245);
        width: 30px;
        height: 30px;

        svg {
            width: 20px;
            height: 20px;
            stroke: rgb(180, 180, 180);
        }
    }

    .search__add-button:hover {
        background-color: rgb(235, 235, 235);
    }
}
